<link rel="import" href="/bower_components/meteor-elements/meteor-connection.html" >
<link rel="import" href="/bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="/bower_components/neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="/bower_components/neon-animation/animations/slide-down-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/slide-up-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/cascaded-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/transform-animation.html">
<link rel="import" href="/bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="/bower_components/neon-animation/animations/hero-animation.html">
<link rel="import" href="/bower_components/paper-fab/paper-fab.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<dom-module id="questlists-page">
  <style>
  :host {
    overflow: scroll;
  }
  .item-container {
    padding: 25px;
    text-align: left;
  }
  paper-fab#add-list {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  </style>
  <template>
    <div class="item-container">
      <template is="dom-repeat" items="{{questlists}}">
        <questlist-card questlist="{{item}}" on-delete="_deleteList" on-back="_transition"></questlist-card>
      </template>
      <paper-fab id='add-list' icon='add' on-tap='newList'></paper-fab>
    </div>
  </template>
</dom-module>

<script>
Polymer({
  is: "questlists-page",
  properties: {
    questlists: {
      type: Array,
      value: [],
      observer: '_questlists_changed'
    },
    animationConfig: {
      value: function() {
        return {
          'entry': [],
          'exit': []
        }
      }
    },
  },
  behaviors: [ Polymer.NeonAnimatableBehavior ],
  _questlists_changed: function(){
    console.log('Queslilists Changed!');
  },
  newList: function(e) {
    console.info("Creating New List");
    this.fire('new-questlist');
  },
});
</script>



<dom-module id="questlist-page">
  <style>
  </style>

  <template>

    <paper-drawer-panel>
      <div drawer></div>
      <div drawer>
        <questlists-list-page id="page0"></questlists-list-page>
      </div>
    </paper-drawer-panel>

  </template>

</dom-module>

<script>
  Polymer({
    is:'questlist-page',
    behaviors: [ Polymer.NeonSharedElementAnimatableBehavior ],
    properties: {
      selected: {
        value: 0,
      },
      animationConfig: {
        value: function() {
          return {
            'entry': [{
              name: 'slide-down-animation',
              node: this.$.toolbar
            }],
            'exit': [{
              name: 'slide-up-animation',
              node: this.$.toolbar
            }]
          }
        }
      },
      disable: {
        type: Boolean,
        value: false,
        observer: 'disableChanged'
      },
      questlists: {
        type: Array,
      },
      items1: {
        type: Array
      },
      items2: {
        type: Array
      },
    },
    observers: [
      '_dataChanged(data.splices)',
    ],
    _goGithub: function() {
      window.open("https://github.com/atoy40/meteor-polymer-music", '_blank');
    },
    _computeChipStyle: function(item) {
      return "background: black url("+item.arturl+") 0 0/100% 100%;";
    },
    _onTapAlbum: function(e) {
      var node;
      for(node = e.target; !node.classList.contains('chip'); node = Polymer.dom(node).parentNode );;

      if (e.model && e.model.item) {

        this.animationConfig = {
          'entry': [{
            name: 'slide-down-animation',
            node: this.$.toolbar
          }],
          'exit': [{
            name: 'slide-up-animation',
            node: this.$.toolbar
          }]
        };

        this.animationConfig.exit.push({
          name: 'hero-animation',
          id: 'hero2',
          fromPage: this,
        });
        this.animationConfig.exit.push({
          name: 'hero-animation',
          id: 'hero',
          fromPage: this,
        });
        this.animationConfig.entry.push({
          name: 'hero-animation',
          id: 'hero',
          toPage: this,
        });
        this.animationConfig.entry.push({
          name: 'hero-animation',
          id: 'hero2',
          toPage: this,
        });

        this.sharedElements['hero2'] =node; //Polymer.dom(node).querySelector('.chip-bottom');
        this.sharedElements['hero'] = Polymer.dom(node).querySelector('.chip-top');

        // fade other chips
        var chips =  Polymer.dom(this.$.pages).querySelectorAll("div.chip");
        chips.forEach(function(chip) {
            this.animationConfig.exit.push({
              name: 'fade-out-animation',
              node: chip,
            });
            this.animationConfig.entry.push({
              name: 'fade-in-animation',
              node: chip,
            });
        }.bind(this));

        this.fire('tap-album', {
          album: e.model.item,
        });
      }
    },
    newList: function(e) {
      this.fire('new-questlist');
    },
    _dataChanged: function() {
      if (this.disable || Polymer.dom(this.$.pages).querySelectorAll('.neon-animating').length > 0) {
        this.hasChanged = true;
      } else {
        this.debounce("swap", this.swapPage, 30);
      }
    },
    swapPage: function() {
      //this._swapping = true;
      var firstLoad = !this.items1 && !this.items2;

      if (firstLoad && this.data.length < 1) {
        return;
      }

      if (this.selected || !this.items1) {
        this.items1 = firstLoad ? [] : this.data.slice();
      }
      if (!this.selected || !this.items2) {
        this.items2 = this.data.slice();
      }

      if (firstLoad) {
        this.async(function() {
          this._cascadePage();
          this.selected = 1;
        }.bind(this));
        return;
      }

      this.async(function() {
        this._configureAnimation();
        this.selected = this.selected ? 0 : 1;
      }.bind(this), 50);
    },
    _cascadePage: function(items) {
      var delay = 50;
      var chips =  Polymer.dom(this.$.page1).querySelectorAll("div.chip");
      var titles =  Polymer.dom(this.$.page1).querySelectorAll("div.chip-title");
      var authors =  Polymer.dom(this.$.page1).querySelectorAll("div.chip-author");

      this.$.page1.animationConfig.entry = [
        {
          name: 'cascaded-animation',
          animation: 'transform-animation',
          transformFrom: 'translateY(30%)',
          nodedelay: delay,
          nodes: chips,
        },
        {
          name: 'cascaded-animation',
          animation: 'fade-in-animation',
          nodes: chips,
          nodedelay: delay,
          timing: { easing: "ease-in" }
        },
        {
          name: 'cascaded-animation',
          animation: 'transform-animation',
          transformFrom: 'translateX(-200%)',
          nodes: titles,
          nodedelay: delay,
          timing: {  easing: "ease-out", delay: delay*2 }
        },
        {
          name: 'cascaded-animation',
          animation: 'fade-in-animation',
          nodes: titles,
          nodedelay: delay,
          timing: { duration: 1500, delay: delay*2 }
        },
        {
          name: 'cascaded-animation',
          animation: 'transform-animation',
          transformFrom: 'translateX(200%)',
          nodes: artists,
          nodedelay: delay,
          timing: { easing: "ease-out", delay: delay*4 }
        },
        {
          name: 'cascaded-animation',
          animation: 'fade-in-animation',
          nodes: artists,
          nodedelay: delay,
          timing: { duration: 1500, delay: delay*4 }
        },
      ];
    },
    _prepareAnimationConfig: function(page, items, otherPageIds, isCurrent) {
      items.forEach(function(value) {
        var element = Polymer.dom(page).querySelector("div[hero-id='"+value._id+"']");

        if (isCurrent) {
          if (otherPageIds.indexOf(value._id) != -1) {
            page.animationConfig.exit.push({
              name: 'hero-animation',
              id: value._id,
              fromPage: page
            });
            page.sharedElements[value._id] = element;
          } else {
            page.animationConfig.exit.push({
              name: 'fade-out-animation',
              node: element,
            });
            page.animationConfig.exit.push({
              name: 'transform-animation',
              transformTo: 'scale(0.6,0.6)',
              transformOrigin: "50% 50%",
              node: element,
            });
          }
        } else {
          if (otherPageIds.indexOf(value._id) != -1) {
            page.animationConfig.entry.push({
              name: 'hero-animation',
              id: value._id,
              toPage: page
            });
            page.sharedElements[value._id] = element;
          } else {
            page.animationConfig.entry.push({
              name: 'fade-in-animation',
              node: element,
              timing: { delay: 250 }
            });
            page.animationConfig.entry.push({
              name: 'slide-down-animation',
              node: element,
              timing: { delay: 250, easing: 'cubic-bezier(0.0, 0.5, 0.2, 1.0)' }
            });
          }
        }
      }.bind(this));
    },
    _configureAnimation: function() {
      var items1Id = this.items1.map(function(value) { return value._id; });
      var items2Id = this.items2.map(function(value) { return value._id; });

      this.$.page0.animationConfig.entry = [];
      this.$.page1.animationConfig.entry = [];
      this.$.page0.animationConfig.exit = [];
      this.$.page1.animationConfig.exit = [];
      this.$.page0.sharedElements = {};
      this.$.page1.sharedElements = {};

      this._prepareAnimationConfig(this.$.page0, this.items1, items2Id, !this.selected);
      this._prepareAnimationConfig(this.$.page1, this.items2, items1Id, this.selected);
    },
    disableChanged: function() {
      if (!this.disable) {
        this.complete();
      }
    },
    complete: function() {
      if (this.hasChanged) {
        this.debounce("swap", this.swapPage, 30);
          this.hasChanged = false;
      }
    }
  });
</script>
