<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="/bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="/bower_components/meteor-elements/meteor-connection.html">
<link rel="import" href="/bower_components/meteor-elements/meteor-collection.html">
<link rel="import" href="/bower_components/meteor-elements/meteor-subscribe.html">
<link rel="import" href="/bower_components/meteor-elements/meteor-query.html">
<link rel="import" href="questlists-page.html">
<link rel="import" href="questlist-card.html">

<dom-module id="questlists-app">

  <style>
  paper-dialog paper-button {
    color: #1e88e5;
  }
  </style>

  <template>

    <meteor-connection status="{{status}}" on-server-connected="_onConnect" on-server-disconnected="_onDisconnect"></meteor-connection>
    <meteor-subscribe name="questlists" args="[]" isready="{{_subready}}"></meteor-subscribe>
    <meteor-collection id="collection" name="questlists" on-insert="_onInsert" on-error="_onError">
      <meteor-query id="query" options="{{options}}" data="{{all_questlists}}" enable></meteor-query>
    </meteor-collection>

    <array-selector id="selector" items="{{all_questlists}}" selected="{{questlist}}"></array-selector>

    <paper-drawer-panel id="mainLayout">
      <paper-scroll-header-panel drawer>
        <paper-toolbar>
          <paper-icon-button icon="menu" on-tap="toggle_panel" paper-drawer-toggle></paper-icon-button>
          <div>Menu</div>
        </paper-toolbar>
        <paper-menu id="main-menu">
          <template is="dom-repeat" items="{{all_questlists}}">
            <paper-item >
              <template if="{{item.icon}}">
                <iron-icon icon="{{item.icon}}"></iron-icon>
              </template>
              <template if="{{!item.icon}}">
                <iron-icon icon="view-list"></iron-icon>
              </template>
              <span class="item_name"><span>{{item.icon}}</span> : <span>{{item.name}}</span></span>
            </paper-item>
          </template>
        </paper-menu>
      </paper-scroll-header-panel>
      <paper-scroll-header-panel main>
        <paper-toolbar id="toolbar">
          <div>Questlists</div>
          <paper-icon-button icon="menu" on-tap="toggle_panel" paper-drawer-toggle></paper-icon-button>
          <span class="flex"></span>
          <paper-icon-button icon="add-circle-outline" on-tap="newList"></paper-icon-button>
          <paper-icon-button icon="{{_getStatusIcon(connected)}}"></paper-icon-button>
          <paper-button style="margin-left: 15px; background: #FF5722;" on-tap="_goGithub">code on Github</paper-button>
        </paper-toolbar>
        <questlists-page id="list" class="fit" questlists="{{all_questlists}}" on-tap-album="_transition" on-new-list="_openPopup"></questlists-page>
        <!--<neon-animated-pages id="pages" selected="{{selected}}" on-neon-animation-finish="complete">
          <questlists-list-page id="page0"></questlists-list-page>
        </neon-animated-pages>-->
      </paper-scroll-header-panel>
    </paper-drawer-panel>
    <paper-toast class="capsule" id="toaster"></paper-toast>

  </template>

  <script>
    Polymer({
      is: 'questlists-app',
      properties: {
        _subready: {
          type: Boolean,
          value: false,
          observer: '_subreadyChanged'
        },
        all_questlists: {
          type: Array,
          value: [],
          observer: '_questlist_changed'
        }
      },
      toggle_panel: function(){
        console.log('TOGGLE!',this.$.mainLayout);
        debugger;
        this.$.mainLayout.togglePanel();
      },
      _questlist_changed: function(ql){
        console.log('List has changed!',ql)
      },
      _getStatusIcon: function(connected) {
        return connected ? 'cloud-done' : 'cloud-off';
      },
      _onConnect: function() {
        this.$.toaster.text = "Connected to meteor server";
        this.$.toaster.show();
      },
      _onDisconnect: function() {
        this.$.toaster.text = "Disconnected from meteor server";
        this.$.toaster.show();
      },
      _onInsert: function(e) {
        this.$.toaster.text = "List created with ID "+e.detail.id+"";
        this.$.toaster.show();
      },
      _onError: function(e) {
        this.$.toaster.text = "A problem occurs "+e.detail.error;
        this.$.toaster.show();
      },
      _subreadyChanged: function(subready) {
        // wait subscription ready state before querying
        if (this._subready) {
          this.$.query.collection = this.$.collection.ref;
        }
      },
      _transition: function(e) {
        if (this.page === 0 && e.detail.album) {
          this.$.selector.select(e.detail.album);
          this.$.list.disable = true;
          this.$.subalbum.args = [e.detail.album._id]; // set album subscribtion parameter
          this.page = 1;
        } else {
          this.page = 0;
          this.$.subalbum.args = []; // unsubscribe to album
        }
      },
      _createList: function(e) {
        if (this.status.connected) {
          this.$.collection.insert({
            title: 'New List',
            type: 'todo'
          });
        }
      },
      _deleteList: function(e) {
        this.$.collection.remove(e.detail.id);
      },
      _complete: function() {
        if (this.page === 0) {
          // reactivate animated changes
          this.$.list.disable = false;
        }
      },
      _onListChange: function(e) {
        var lorempixelcat = [
          'abstract', 'city', 'people', 'transport', 'animals', 'food', 'nature',
          'business', 'nightlife', 'sports', 'cats', 'fashion', 'technics'
        ];
        this.$.newart.value = "http://lorempixel.com/480/480/"+Random.choice(lorempixelcat)+"/"+e.target.value.replace(/\s/g, "%20");
      },
      ready: function() {
        this.page = 0;
        this.options = { sort: { name: 1 } };
      },
      newList: function(){
        this._createList();
        console.log("New List!");
      }
    });
  </script>
</dom-module>
