<link rel="import" href="/bower_components/neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="/bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/slide-up-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/slide-down-animation.html">
<link rel="import" href="/bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<dom-module id="questlist-card">
  <style>
    :host {
      width: 100%;
    }
    .info-card {
      border-radius: 7px;
      text-align: start;
      margin: 10px;
      width: 100%;
    }
    .card-icon {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      margin-right: 16px;
    }

    /*When browser width < 800px*/
    @media (max-width: 800px) {
      .info-card{
      }
      .card-info{
        width: 100%;
        border: none;
        float: none;
      }
      .card-body{
        width: 100%;
        border: none;
        float: none;
      }
    }
    /*When browser width > 800px*/
    @media (min-width: 800px) {
      .info-card{
        min-width: 600px;
      }
      .card-content{
        width: 100%;
        padding: 0px;
        margin: 0px;
      }
      .card-info{
        margin: 0px;
        width: 32%;
        border-right: 2px solid #ccc;
        display: inline-block;
        height: 100%;
        padding: 5px;
      }
      .card-body{
        margin: 0px;
        width: 64%;
        display: inline-block;
        height: 100%;
      }
      .card-actions{
        width: 100%;
        clear: both;
      }
    }
  </style>

  <template>
    <paper-card heading="{{questlist.name}}" class="info-card">
      <div class="card-content">
        <div class="card-info">
          <div class="card-block">
            Created:
            <span class="created_at date">{{questlist.created_at}}</span>
            <br/>
            by
            <span class="author">{{questlist.author}}</span>
          </div>
        </div>
        <div class="card-body">
          <div class="item-header">
            Items
          </div>
          <template is="dom-repeat" items="{{questlist.items}}">
            <div class="questlist-item">{{item}}</div>
          </template>
        </div>
      </div>
      <div class="card-actions">
        <paper-button class="revive-card-action" on-tap="revive">Restart</paper-button>
        <paper-button class="delete-card-action" on-tap="delete">Delete</paper-button>
        <paper-button class="complete-card-action" on-tap="complete">Complete</paper-button>
      </div>
    </paper-card>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'questlist-card',
    behaviors: [Polymer.NeonSharedElementAnimatableBehavior],
    properties: {
      questlist: {
        type: Object
      },
      sharedElements: {
        type: Object,
        value: function() {
          return {
          };
        }
      },
      animationConfig: {
        value: function() {
          return {
            'entry': [{
              name: 'hero-animation',
              id: 'hero2',
              toPage: this
            }, {
              name: 'hero-animation',
              id: 'hero',
              toPage: this
            }, ],
            'exit': [{
              name: 'hero-animation',
              id: 'hero2',
              fromPage: this
            }, {
              name: 'hero-animation',
              id: 'hero',
              fromPage: this
            }, ],
          }
        }
      },
    },
    _computeChipStyle: function(item) {
      if (item)
        return "background: url(" + item.image + ") 0 0/100% 100%;";
    },
    transition: function() {
      this.fire('back');
    },
    delete: function() {
      this.fire('delete', {
        id: this.questlist._id
      });
      this.fire('back');
    }
  });
</script>
