- if alert
  .alert.alert-dismissable.alert-warning
    %button.close{ type: "button", data: {dismiss: "alert"} } ×
    =alert

= devise_error_messages!

- if resource.errors
  - resource.errors.full_messages.each do |msg|
    .alert.alert-dismissable.alert-warning
      %button.close{ type: "button", data: {dismiss: "alert"} } ×
      = msg


- if notice
  .alert.alert-dismissable.alert-success
    %button.close{type: "button", data: {dismiss: "alert"} } ×
    =notice
