.hero-unit
  %h1 Welcome, #{current_user.fullname}
  %p
    Thank you for joining my modest site. Please use the following links to
  %p
    =link_to "Create a new list",new_list_path,:class=>"btn btn-primary btn-large"
    =link_to "View all public lists",lists_path,:class=>"btn btn-primary btn-large"
