%footer
  %p 
    The amazing icons used on this site are &copy;Mark James. See 
    = link_to "FAMFAMFAM", "http://www.famfamfam.com/lab/icons/silk/"
    for more information.
  %p 
    Questlists is developed under a free open-source license, by 
    = link_to "Rude Boy Enterprises", "http://rbe.homeip.net"
    %br/
    Please feel free to do what you wish to this site. If you have larger aspirations, 
    and are a web developer, graphic designer, or Rails developer (or you just want to help out!),
    feel free to fork 
    = link_to "this project","https://github.com/skamansam/questlists"
    on Github or join as a developer!
