- if flash[:error]
  .alert.alert-error
    %button.close{:type=>"button", "data-dismiss"=>"alert"}
      %i.icon-close x
    = flash[:error]
- if flash[:alert]
  .alert.alert-error
    %button.close{:type=>"button", "data-dismiss"=>"alert"}
      %i.icon-close x
    = flash[:alert]
- if flash[:notice]
  .alert.alert-info
    %button.close{:type=>"button", "data-dismiss"=>"alert"}
      %i.icon-close x
    = flash[:notice]

